@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.2;
    }
	20% {
		opacity: 0;
	}
	30% {
		opacity: 0.4;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 0.6;
	}
	60% {
		opacity: 0;
	}
	70% {
		opacity: 0.8;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.5;
	}
    100% {
        opacity: 1;
    }
}

@keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/********** ANIMATIONS **********/
.animate-on-load-second {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.animate-on-load-first {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.animate-on-load-third {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.animate-on-load-fourth {
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

.animate-on-load-fifth {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.line-animation {
    position: absolute;
    top: 50%;
    width: 0;
    height: 4px;
    background-color: #FF7043;
    animation: drawLine 5s ease forwards;
}
