

:root{
	--backgound-color: #faf3d3;
	--primary-color: #144daa;
	--secundary-color: #CAC0B3;
}

img {
	width: 10vw;
}

body {
	color: var(--primary-color);
}

header, footer {
	border-color: var(--secundary-color);
}

.background {
	background-color: var(--backgound-color);
};

.primary {
	color: var(--primary-color)
};

.secundary {
	color: var(--secundary-color);
}

h1 {
	font-family: 'alex_brushregular', sans-serif;
	font-weight: bold;
}

h1 span {
	color: var(--secundary-color);
}

#fade-content {
	opacity: 0;
  	transition: opacity 2s ease-in-out;
}
