:root{
	--backgound-color: #001233;
	--primary-color: #CAC0B3;
	--secundary-color: #FF595A;
}

img {
	width: 2rem;
}

body {
	color: var(--primary-color);
}

header, footer {
	border-color: var(--secundary-color);
}

.background {
	background-color: var(--backgound-color);
}

.primary {
	color: var(--primary-color)
}

.secundary {
	color: var(--secundary-color);
}

.button {
	border-color: var(--secundary-color);
}

